.markdownCode {
  padding: 1rem;
}

.markdownCode pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid #e1e4e8;

  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

.markdownCode code {
  font-family: inherit;
  white-space: pre;

  font-size: 16px;
  font-weight: 500;
  color: #5c3a21;
}
